<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayPal JS SDK Standard Integration</title>
    <script
      src="https://www.paypal.com/sdk/js?components=buttons&client-id=<%= clientId %>"
      data-client-token="<%= clientToken %>"
    ></script>
  </head>
  <body>
    <div id="paypal-button-container" class="paypal-button-container"></div>

      <p id="result-message"></p>
    </div>
    <script src="app.js"></script>
  </div>
  </body>
</html>